%section
  .navbar-container
    .header-container
      .logo
        %a{:href => "/"}
          Senior Care Facility Finder
      .links
        %a{:href => "/"}
          Home
        |
        %a{:href => "/about"}
          About
