/ cta
%section#cta-1.section-padding
  .container
    .row
      .req-info-tab
        .col-md-12
          .mt-boxy-color
          .medi-info
            %h3 Request Info
            %p Let us do the leg work in fining you a Nursing Home that best suits your needs. Send in the form below and someone will contact you shortly.
            %small
              %strong.center*TIP: Enter the location where you are looking for a home.
            = form_tag(controller: :provider , action: :req_info) do
              .form-group.col-xs-10
                %input.form-control{name: 'name', placeholder: 'Full Name', required: true}
                %input.form-control{name: 'location', placeholder: 'City, State or Zip', required: true}
                %input.form-control{name: 'email', placeholder: 'Email', required: true}
                %input.form-control{name: 'number', placeholder: 'Phone Number', required: true}
                %input.form-control{name: 'web_referral', type:'hidden', value: "Adult Home Directory"}
                -# .form-check.form-check-inline
                -#   %label.form-check-label
                -#     Nursing Home
                -#     %input.form-check-input{type:'radio',name: 'home_type', value:"Nursing Home", required: true}
                -#   %label.form-check-label
                -#     Assisted Living
                -#     %input.form-check-input{type:'radio',name: 'home_type', value:"Assisted Living Facility", required: true}
                -#   %label.form-check-label
                -#     Both
                -#     %input.form-check-input{type:'radio',name: 'home_type', value:"", required: true, checked:true}
                %button.form-control.btn.btn-default.search-submit{type: :submit} Submit

/ / about
/ State List
%section.section-padding.state-section
  .container
    .row
      .col-md-12
        %h2 Choose a State to Get Started
        #vmap{:style=>"width: 800px; height: 600px; margin-left:20%; margin-top:15px"}
  
    .row
      %ul.state-list.list-inline
        -@states.each do |key, val|
          %li
            %a{:href => "/adult-home-finder/adult-homes/#{val}", :title=>"Assisted Living Facility Nursing Home in #{val}"}
              =val
  %hr

/ cta
/ contact
%section#contact.section-padding
  .container
    .row
      .col-md-12
        %h2.ser-title Contact us
        %hr.botm-line/
      .col-md-4.col-sm-4
        %h3 Contact Us
        .space
        %p
          Want to add or claim a Nursing Home on our list? Have a general question? Please fell free to contact us through the form and someone will reach out to you within 24-48 hours.

      .col-md-8.col-sm-8.marb20
        .contact-info
          %h3.cnt-ttl Send us any questions or comments
          .space
          #sendmessage Your message has been sent. Thank you!
          #errormessage
          %form.contactForm{ controller: :provider, :action => "send_contact_form", :method => "post", :role => "form"}
            .form-group
              %input#name.form-control.br-radius-zero{"data-msg" => "Please enter at least 4 chars", "data-rule" => "minlen:4", :name => "name", :placeholder => "Your Name", :type => "text"}/
              .validation
            .form-group
              %input#email.form-control.br-radius-zero{"data-msg" => "Please enter a valid email", "data-rule" => "email", :name => "email", :placeholder => "Your Email", :type => "email"}/
              .validation
            .form-group
              %input#subject.form-control.br-radius-zero{"data-msg" => "Please enter at least 8 chars of subject", "data-rule" => "minlen:4", :name => "subject", :placeholder => "Subject", :type => "text"}/
              .validation
            .form-group
              %textarea.form-control.br-radius-zero{"data-msg" => "Please write something for us", "data-rule" => "required", :name => "message", :placeholder => "Message", :rows => "5"}
              .validation
            .form-action
              %button.btn.btn-form{:type => "submit"} Send Message

:javascript

  $(document).ready(function() {
    $('#vmap').vectorMap({ map: 'us_merc' });
  });

  $(function() {
   $('#vmap').click(function (){
     changeUrl(event.target.dataset.code)});
  });

  function changeUrl(state){
    $.ajax({
      method: "POST",
      url: "/provider/search?search="+state,
      success: function (state) {
                window.location = "/adult-home-finder/adult-homes/" + state["state"] ;
            }
    })
  }


%script{:type=>"application/ld+json"}
  :plain
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "https://www.adulthomefinder.com/",
      "logo": "http://www.adulthomefinder.com/favicon.ico",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "http://www.adulthomefinder.com/provider/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
